<div class="background">
  <div class="container card">
    <div class="portfolio-p1">
      <div class="align-center justify-center flex-row">
        <h1>StatBot</h1>
        <h1 color="text-grey"> - Discord Bot for Steem</h1>
      </div>
      <div>
        <div class="card browser-mockup">
          <img class="statbot_img" src="assets/statbot/StatBot.svg" alt="statbot logo">
        </div>
      </div>
      <div>
        <h3>Description</h3>
        <p>
          StatBot is a discord bot that are able to consume Steem API, search Steem Price, use of SteemSQL and check
          steemhunt related stuff.
        </p>
      </div>
    </div>
    <div class="portfolio-p1">
      <h1>Technology used</h1>
      <mat-chip-list>
        <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Discord bot hosted on Ubuntu"
          aria-label="Ubuntu">
          Ubuntu
          <i class="devicon-ubuntu-plain"></i>
        </mat-chip>
        <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="JavaScript on server side"
          aria-label="Node.js">
          Node.js
          <i class="devicon-nodejs-plain"></i>
        </mat-chip>
        <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Static Type check for Javascript"
          aria-label="Typescript">
          TypeScript
          <i class="devicon-typescript-plain"></i>
        </mat-chip>
        <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Testing framework for JavaScript"
          aria-label="Jest">
          Jest
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="portfolio-p1">
      <h1>Github</h1>
      <div class="flex-row full-width justify-center mt-2">
        <span class="px-2">
          <a class="github-button" href="https://github.com/superoo7/statbot" data-size="large" data-show-count="true"
            aria-label="Star superoo7/statbot on GitHub">Star</a>
        </span>
        <span class="px-2">
          <a class="github-button" href="https://github.com/superoo7/statbot/issues" data-size="large" data-show-count="true"
            aria-label="Issue superoo7/statbot on GitHub">Issue</a>
        </span>
        <span class="px-2">
          <a class="github-button" href="https://github.com/superoo7" data-size="large" data-show-count="true"
            aria-label="Follow @superoo7 on GitHub">Follow
            @superoo7</a>
        </span>
      </div>
    </div>
    <div class="portfolio-p1">
      <h1>Source Code & Profile</h1>
      <mat-chip-list>
        <a href="https://github.com/superoo7/statbot" target="_blank">
          <mat-chip color="primary" matTooltipPosition="above" mat-raised-button matTooltip="superoo7/statbot"
            aria-label="statbot">Github <i class="devicon-github-plain"></i></mat-chip>
        </a>
        <a href="https://steemprojects.com/projects/p/statbot/" target="_blank">
          <mat-chip color="primary" matTooltipPosition="above" mat-raised-button matTooltip="statBot" aria-label="statbot">steem
            projects</mat-chip>
        </a>
      </mat-chip-list>
    </div>
  </div>
</div>
