<div class="background">
  <div class="container">
    <div class="portfolio-p1">
      <h1>StatBot</h1>
      <img class="statbot_img" src="assets/statbot/StatBot.svg" alt="statbot logo">
    </div>
    <h1>Technology used</h1>
    <mat-chip-list>
      <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Discord bot hosted on Ubuntu"
        aria-label="Ubuntu">
        Ubuntu
        <i class="devicon-ubuntu-plain"></i>
      </mat-chip>
      <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="JavaScript on server side"
        aria-label="Node.js">
        Node.js
        <i class="devicon-nodejs-plain"></i>
      </mat-chip>
      <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Static Type check for Javascript"
        aria-label="Typescript">
        TypeScript
        <i class="devicon-typescript-plain"></i>
      </mat-chip>
      <mat-chip selected color="primary" matTooltipPosition="above" mat-raised-button matTooltip="Testing framework for JavaScript"
        aria-label="Jest">
        Jest
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
