/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  margin: 0%;
  font-family: "Roboto", serif
}

/* this is the "root" in "root em." */
html {
  font-size: 62.5%;
  /* Now 10px = 1rem! */
}

body {
  font-size: 16px;
  /* px fallback */
  font-size: 1.6rem;
  /* default font-size for document */
  line-height: 1.5;
  /* a nice line-height */
}

.background {
  padding: 1rem;
  min-height: 60vh;
}

.container {
  padding: 2rem;
  background: white;
}
